$box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
.item-wrapper{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  // padding: 20px 0;
  overflow: hidden;
  height:fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  .img-div{
    height: 250px;
    background-color: purple;
    img{
        height: 100%;
        width: 100%;
    }
  }
  .item-info{
    width: 100%;
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
   background-color: white;
   justify-content: space-between;
   padding: 5px;
   .stock-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .amount{
      font-weight: 800;
      color: purple;
    }
   }
   .icon-heart{
    font-size: 30px;
    color: purple;
    margin-right: 2px;
   }
  }
}
.item-wrapper:hover{
  box-shadow:$box-shadow ;

}

@media screen and (max-width:900px) {
  .item-wrapper{

  .img-div{
    height: 150px;
    background-color: purple;
    img{
        height: 100%;
        width: 100%;
    }
  }}

}