$box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
#featured-stock-wrapper{
  margin-top: 1rem;
  width: 100%;
  padding: 0px 5% 0px 5%;
  margin-bottom: 1rem;
  .header-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4em;
    color: #415661;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  
.featued-stock-wrapper-inner{
 box-shadow: $box-shadow;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  }
}

@media screen and (max-width:900px) {
  #featured-stock-wrapper{
  
  .header-title{
  }
  
.featued-stock-wrapper-inner{
   grid-template-columns: auto auto;
  grid-gap: 10px;
  }
}
}