
$box-shadow: 0px 43px 362px rgba(0, 0, 0, 0.09),
  0px 5.38427px 44.7779px rgba(0, 0, 0, 0.045);
.home-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .banner-section{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 25rem;
  // background-color: white;
 
  margin-top: 2rem;
  .carousel-container{
    height: 100%;
    width: 70%;
    // background-color: aqua;
    // padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 5px;
  
    .image-carousel{
      height: 25rem;
        border-radius: 5px;
    }
  }
  .banner-side{
    width: 30%;
    height: 100%;
    border-radius: 5px;
    margin-left: 1rem;
  }
 
  .ads-section-top{
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
  gap: 1rem;
  .cat-item-cat{
    height: 50%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: bisque;
    .image-carousel{
      width: 100%;
    }
  }
}
}

.card-section{
  height: 20rem;
  width: 90%;
  align-self: center;
  background-color: aquamarine;
  margin-top: 1rem;
  border-radius: 5px;
}
}


@media screen and (max-width:900px) {
 .home-container{
  
  .banner-section{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  .carousel-container{
    width: 100%;
    .image-carousel{
      height: 18rem;
        border-radius: 5px;
        
    }
  }
  .banner-side{
   width: 100%;
   margin-left: 0px;
   margin-top: 1rem;
   height: 15rem;
  
  
  }
  .ads-section-top{
    display: none;
  }
}
} 
}