$box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
.banner-side{
    width: 30%;
    height: 100%;
    border-radius: 5px;
    margin-left: 1rem;
  }
  .one_{ 
    padding: 2px;
    overflow: scroll;
    .item-in-grid{
    display: none;
  }
  .card-item-one{
    height: 5rem;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    .inner-row-item{
      background-color: white;
      box-shadow: $box-shadow;
      height: 100%;
      width: 35%;
      border-radius: 5px;
      overflow: hidden;
      .image-cat{
        height: 100%;
        width: 100%;
      }
    }
     .inner-row-item-info{
      // background-color: cyan;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      .info-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          font-family: 'poppin';
          margin-left: 5px;
        }
      }
    }
  }
  .card-item-one:hover{
      background-color: purple;
      color: white;
      // border: 1px solid white;
    }
}

@media screen and (max-width:900px) {
   .one_{
    background-color: white;
    box-shadow: $box-shadow;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto  ;
  grid-gap: 10px;
  .item-in-grid{
    height: auto;
    width: auto;
    display: flex;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .add-btn{
      display: flex;
      align-items: center;
      justify-content: center;
     height: 100%;
     width: 100%;
      background-color: #f1f1f1;
      flex-direction: column;
      label{
      color: #800080;
      font-weight: 800;
      }
      .image-plus{
        width: 50px;
       height: 50px;
        background-color: white;
       border-radius: 50%;
       margin-top: 2px;
        color: purple
      }
    }
  }
.item-in-grid:hover{
  box-shadow: $box-shadow;
}
.card-item-one{
display: none;

}
  }
}